:host {
    flex:1;
    height:100%;
}

::ng-deep .transaction-0 {
    fill: #f5f5f5
}
::ng-deep .transaction-1 {
    fill: #c7e9c0;
}
::ng-deep .transaction-2, 
::ng-deep .transaction-3 {
    fill: #a1d99b;
}
::ng-deep .transaction-4, 
::ng-deep .transaction-5, 
::ng-deep .transaction-6 {
    fill: #41ab5d;
}
::ng-deep .transaction-7, 
::ng-deep .transaction-8, 
::ng-deep .transaction-9, 
::ng-deep .transaction-10, 
::ng-deep .transaction-11, 
::ng-deep .transaction-12, 
::ng-deep .transaction-13, 
::ng-deep .transaction-15,
::ng-deep .transaction-15 {
    fill: #006d2c;
}