@import 'styles';


:host {
  @extend .d-flex;
  @extend .flex-fill;
  @extend .t2;
  overflow-y:auto;
}





.list-group-item.active {
  background-color: theme(link-secondary);
  border-color: theme(link-secondary);
}
.list-group > .list-group-item {
  border-radius:0;
}