@import '~bootstrap/scss/bootstrap.scss';
@import 'theme.scss';

/**
 * CONTENTS
 *
 * SETTINGS
 * Theme...............Site styling
 *
 * GENERIC
 * Box-sizing...........Better default `box-sizing`.
 *
 * BASE
 * Body.................Layout settings.
 * Headings.............H1–H6 styles.
 *
 *
 * COMPONENTS
 * Masthead.............Main header content.
 * Sidebar..............Navigation on posts
 * Page-Layout..........The main page layout.
 * Posts................List of posts.
 * Post.................Post content.
 * Footer...............Footers.
 * Mapping..............Elements for maps.
 * HLJS.................HLJS styles.
 * Misc.................Various properties.
 *
 */


/* ==========================================================================
#BASE-GENERIC
========================================================================== */


*, *:before, *:after {
	box-sizing: border-box;
}




/* ==========================================================================
#BASE-BODY
========================================================================== */

html {
	box-sizing: border-box;
	font-size: 62.5%;
}

body {
	margin:0;
	font-family: $font-primary;
	font-size:1.8rem;
	letter-spacing:0.02em;
	word-wrap:break-word;
	text-rendering:optimizeLegibility;
	line-height: 1.7;
	-moz-font-feature-settings: "liga" on;
	color: theme(font);
	background-color: theme(background);
}

/**
 * Ensure page always cover full height of screen
 */
app-root {
	display:flex;
	flex-direction:column;
}





/* ==========================================================================
BASE-HEADINGS
========================================================================== */

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 
{
	font-family:$font-secondary;
	line-height: 1.15em;
	letter-spacing:-0.02em;
}

h1,
.h1 {
	font-size: 6rem;
	letter-spacing: 2px;
	text-indent: -3px;
}
h2,
.h2 {
	font-size: 3.4rem;
	letter-spacing: 2px;
}
h3,
.h3 {
	font-size: 3.5rem;
}
h4,
.h4 {
	font-size: 3rem;
}
h5,
.h5 {
	font-size: 2rem;
	margin-bottom:0.2em;
}
h6,
.h6 {
	font-size: 2rem;
}

a {
	color:theme(link);
	text-decoration:none;
	&:hover {
		color:theme(link-secondary);
	}
	&:focus {
		color:theme(link-secondary);
	}
}

strong {
  color: theme(primary);
}

ul {
  margin:0;
}

.link-none {
	color:inherit;
	text-decoration: none;

	&:focus{
		text-decoration: none;
		color:inherit;
	}
	&:hover{
		text-decoration: none;
		color:inherit;
	}

}

.link-primary {
	font-size:1.3rem;
	letter-spacing:0.1em;
	@extend .link-none;
	&:not(:last-child) {
		@extend .mr-5;
	}
	&:focus {
		background-image: $link-underline;    
	}
	&:hover {
		background-image: $link-underline;
	}

}



.t1
.t2
.t3 {
	color:theme(font);
	letter-spacing:-0.003em;
	line-height:1.7;
}
.t1 {
	font-size:1.9rem;
}

.t2 {
  font-size:1.4rem;
}

.t3 {
  font-size:1.2rem;
}

p {
	// @extend .t1;
	margin-bottom: spacing(medium);
	margin-top:0;
}

.i1 {
	font-size:5rem;
}

.icon-link {
	cursor:pointer;
	@extend .link-none;
	opacity:0.85;
	transition: opacity 0.3s ease;
	&:focus {
		opacity:1;
	}
	&:hover {
		opacity:1;
	}
}




/* ==========================================================================
#LAYOUTS
========================================================================== */

.layout {
  max-width: $layout-width;
}
.page-content {
	padding:0 spacing(medium);
	max-width: $layout-width;
	margin: 0 auto;
}

/* ==========================================================================
COMPONENTS-VISUALS
========================================================================== */

.visual-body {
	overflow-y: auto;
}


.visual-text {
	font-family: $font-primary;
	font-size:1.2rem;
}

.visual-legend {
	@extend .d-flex;
	@extend .flex-row;
	@extend .w-100;
	@extend .t3;
}

.legend-item {
	@extend .d-flex;
	@extend .flex-row;
	@extend .align-items-center;
	& > span {
		@extend .ml-2;
	}
}

.patch {
	width:16px;
	height:16px;
}
.patch--red {
	border:3px solid #e74c3c;
}

.tooltip {	
    position: absolute;			
    text-align: center;			
    width: 15rem;					
	height:5rem;					
	@extend .p-3;
	@extend .t3;
    border-radius:8px;
    pointer-events: none;			
    border: 1px solid rgba(1,1,1,0.05);
    background:#fff;
}

/* ==========================================================================
COMPONENTS-MAP
========================================================================== */


.map-boundary {
  stroke: theme(border);
  stroke-width:1px;
  fill-opacity:0;
}

#map {
  overflow:visible;
  // margin-bottom:1rem;
}
.map-point {
  fill: theme(primary);
  cursor:pointer;
  &:hover {
    fill:theme(link-secondary) !important;
  }
  &:focus {
    fill:theme(link-secondary) !important;
	}
	&.point-select{
		fill: theme(point-select);
	}
}
.map-point--home {
	fill: #f1c40f;
}
.map-point--vdot {
	fill: #f47836;
}
.map-point--deq {
	fill: #0049b8;
}
.map-point--dmme {
	fill: #38b154;
}



/* ==========================================================================
COMPONENTS-CARDS
========================================================================== */

.card-primary {
  border: 4px double theme(border);
	@extend .shadow;
	background-color:theme(background-light);
}

.card-sidebar-right {
	border-left: 4px solid theme(secondary);
}

/* ==========================================================================
COMPONENTS-MISC
========================================================================== */

.chip-list {
	@extend .d-flex;
	@extend .flex-wrap;
	& .chip {
		@extend .mt-1;
		@extend .mr-1;
		transition: box-shadow 280ms cubic-bezier(.4,0,.2,1);
		border-radius:16px;
		font-weight:bold;
		align-items:center;
		min-height:32px;
		padding: 0px 12px;
		display:inline-flex;
		background: theme(light);
		font-size:14px;

		&:hover {
			background: theme(dark);
		}
		&:focus {
			background: theme(dark);
		}
	}
}

.full-width {
	position:relative;
	width:100vw;
	left: calc(-50vw + 50%);
}

.fixed {
	position:fixed;
}


img {
 &.image {
		@extend .shadow-lg;
		@extend .card-primary;
		-moz-border-radius: 50%;
		border-radius: 50%;
		display: block;
		height: 56px;
		width: 56px;
		height:150px;
		width:150px;
	}
	&.image.image-small {
		height:70px;
		width:70px;
	}

}
.round {
  border-radius:8px;
}

.fixed-top-absolute {
  position:fixed;
  left:0;
  right:0;
}

.circle {
  display:inline-block;
  border-radius:999px;
}

.arrow-left {
  width: 0; 
  height: 0; 
  border-top: 5rem solid transparent;
  border-bottom: 5rem solid transparent;
  border-right: 5rem solid theme(secondary);
}



/* ==========================================================================
#GENERIC POST STYLES
========================================================================== */


.post-meta-icon {
  height: 1rem;
  width: 1rem;
	background:theme(background);
	@extend .mr-2;
	@extend .circle;
}

.post-meta-category--maps{ 
	background:pallete-1(a);
}
.post-meta-category--esri{ 
	background:pallete-1(b); 
}

