@import 'styles';

header {
  background: theme(background-light);
  border-bottom:2px solid theme(secondary);
  height:62px;
}

.content-top {
  z-index:2;

}

.masthead-logo {
    opacity:0.9;
    font-size:1.8rem;
    letter-spacing:0.01px;
    @extend .link-none;

  &:hover {
    opacity:1;
  }
  &:focus {
    opacity:1;
  }
  & a {
    @extend .link-none;
    color:inherit;
  }
  & span {
    white-space: nowrap;
  }
}


nav {
 .active-link {
    background-image: $link-underline;
  }

}

.link-list {
  z-index:2;
}
.list-inline {
  .list-inline-item{
    &:not(:last-child) {
      @extend .mr-4;
    }
  }
}
