<div class="container">
    <div class="row">
        <div class="col">
            <div class="d-flex justify-content-around flex-wrap">
                <div class="d-flex align-items-center flex-column">
                    <img class="image" src="/assets/page/about/me.jpg">
                    <span class="m-2">Me</span>
                </div>
            </div>
            <div class="d-flex justify-content-around flex-wrap">
                <div class="d-flex align-items-center flex-column">
                    <img class="image" src="/assets/page/about/puma.JPG">
                    <span class="m-2">Puma Sneaker</span>
                </div>
                <div class="d-flex align-items-center flex-column">
                    <img class="image" src="/assets/page/about/bread.jpg">
                    <span class="m-2">Cooking</span>
                </div>

                </div>
            <div class="d-flex justify-content-around flex-wrap">
                <div class="d-flex align-items-center flex-column">
                    <img class="image" src="/assets/page/about/boardwalk.jpg">
                    <span class="m-2">Photography</span>
                </div>
            </div>

        </div>
        <div class="col">
            <h3>About</h3>
            <p>
                As an application developer and consultant, I currently work at 
                <a class="link" href="https://www.geodecisions.com/">GeoDecisions</a> building web apps and enhancing business 
                processes through technology. 
            </p>
            <p>
                At home, I find ways to simplify my own life by creating tools like <a href="https://budget.brianbrown.dev/login">budgeting </a>
                and <a href="https://groceries.brianbrown.dev/">grocery list</a> apps. When I'm not developing, I enjoy 
                cooking, reading, playing disc golf, taking photographs and walking with my dog, Puma.
            </p>
            <p>
                My core stack is:
            </p>
            <div class="chip-list mb-4">
                <span class="chip">Python</span>
                <span class="chip">JavaScript</span>
                <span class="chip">TypeScript</span>
                <span class="chip">Angular</span>
                <span class="chip">.NET</span>
                <span class="chip">C#</span>
                <span class="chip">SQL</span>
            </div>
            <p>
                Feel free to reach me by email at:  brbrowngeo-at-gmail-dot-com.
            </p>
        </div>
    </div>
</div>
