@import 'styles';

:host {
  @extend .d-flex;
  @extend .justify-content-center;
  @extend .align-items-center;
  @extend .flex-fill;
  @extend .t2;
  height:100%;
}



.next {
  position:fixed;
  @extend .d-flex;
  @extend .align-items-center;
  @extend .justify-content-center;
  @extend .mr-5;
  width:5rem;
  &.right {
    right:0;

  }
  &.left {
    left:0;
  }
}

p {
  @extend .t1;
}