@import 'styles';

:host {
  @extend .d-flex;
  @extend .justify-content-center;
  @extend .align-items-center;
  @extend .flex-fill;
  @extend .t2;
  overflow-y:auto;
}



.spacer {
  display:flex;
  flex: 1 1 auto;
  border-top:2px solid theme(secondary);
  height:1px;
  @extend .my-5;
}