<div class="arrow-left"></div>
<div class="popup-container">
    <!-- HOME -->
    <div class="popup-content" [hidden]="popup !== 'home'">
        <div class="popup-line popup-title">
            <img class="image image-small mr-3" src="/assets/page/about/cover.jpg">
            <span>BRIAN BROWN</span>
        </div>
        <div class="popup-line">
            <strong>Title:&nbsp;</strong>
            Application Developer
        </div>
        <div class="popup-line">
            <strong>Company:&nbsp;</strong>
            <a href="https://geodecisions.com/">GeoDecisions</a>
        </div>
        <div class="popup-line">
            <strong>Location:&nbsp;</strong>
            Richmond, Virginia
        </div>
        <div class="popup-line">
            <strong>Focus:&nbsp;</strong>
            Application Development
        </div>
        <div class="popup-line">
            <strong>Speciality:&nbsp;</strong>
            Visualizing data with maps
        </div>
        <div class="popup-line">
        <div>
            <strong>Languages:&nbsp;</strong>
            <ul>
            <li>Python</li>
            <li>JavaScript and TypeScript</li>
            <li>C#</li>
            </ul>
        </div>
        </div>
        <div class="popup-line">
            <div>
            <strong>Frameworks and Libraries:&nbsp;</strong>
            <ul>
                <li>ASP.NET and .NET Core</li>
                <li>AngularJS and Angular</li>
            </ul>
            </div>
        </div>
        <div class="popup-line">
        <div>
            <strong>Databases:&nbsp;</strong>
            <ul>
            <li>SQL Server</li>
            <li>SQLite</li>
            <li>PostgreSQL</li>
            </ul>
        </div>
        </div>
        <div class="popup-line">
            <strong>Favorite Editor:&nbsp;</strong>
            VS Code with Vim
        </div>
        <div class="popup-line">
            <strong>Favorite OS:&nbsp;</strong>
            Arch Linux
        </div>
        <div class="popup-line">
            <div>
                <strong>Projects:&nbsp;</strong>
                <ul>
                    <li><a href="https://groceries.brianbrown.dev">Grocery App</a></li>
                    <li><a href="https://budget.brianbrown.dev">Budgeting App</a></li>
                    <li><a href="https://rvau.brianbrown.dev">Richmond Ultimate Score Reporter</a></li>
                    <li><a href="http://www.richmondultimate.com">Richmond Ultimate Website</a></li>
                </ul>
            </div>
        </div>
    </div>

    <!-- DEQ -->
    <div class="popup-content" [hidden]="popup !== 'deq'">
        <div class="popup-line popup-title">
            <!-- <img class="user-image" src="/assets/page/about/cover.jpg" width=70 height=70> -->
            <span>DEPARTMENT OF ENVIRONMENTAL QUALITY</span>
        </div>
        <div class="popup-line long">
            <strong>Project:&nbsp;</strong>
            <span>
                Implement a new module for the department's <a href="http://www.exchangenetwork.net/wp-content/uploads/2017/05/10.2-EN2017_Session-10_VADEQ-CEDS-Ward.pdf">Comprehensive Environmental Data System (CEDS).</a>
            </span>
        </div>
        <div class="popup-line long">
            <strong>Description:&nbsp;</strong>
            <span>
                Track, report and bill land application of biosolids for permitted facilities in Virginia.
            </span>
        </div>
        <div class="popup-line">
            <div>
                <strong>Responsibilities:&nbsp;</strong>
                <ul>
                    <li>Implement front-end views and components</li>
                    <li>Implement an ETL workflow for validating and uploading excel spreadsheets in C#</li>
                    <li>Write views in Oracle for complex business logic</li>
                    <li>Collaborate with business analyst to satisfy business requirements</li>
                </ul>
            </div>
        </div>
        <div class="popup-line">
            <div>
                <strong>Stack:&nbsp;</strong>
                <ul>
                    <li>JavaScript with built with <a href="http://backbonejs.org">Backbone.js</a> and <a href="https://marionettejs.com">Marionette.js</a></li>
                    <li>C#/.NET 4</li>
                    <li>Oracle</li>
                </ul>
            </div>
        </div>
    </div>

    <!-- VDOT -->
    <div class="popup-content" [hidden]="popup !== 'vdot'">
        <div class="popup-line popup-title">
            <!-- <img class="user-image" src="/assets/page/about/cover.jpg" width=70 height=70> -->
            <span>VIRGINIA DEPARTMENT OF TRANSPORTATION</span>
        </div>
        <div class="popup-line long">
            <strong>Project:&nbsp;</strong>
            <span>
                <a href="https://smartportal.virginiahb2.org/">SMART Portal Web Application</a>
            </span>
        </div>
        <div class="popup-line long">
            <strong>Description:&nbsp;</strong>
            <span>
                SMART SCALE is about investing limited tax dollars in the right projects that meet the most critical transportation needs in Virginia.
            </span>
        </div>
        <div class="popup-line">
            <div>
                <strong>Responsibilities:&nbsp;</strong>
                <ul>
                    <li>Implement front-end views for new applications</li>
                    <li>Implement API endpoints for new features</li>
                    <li>Write a complex store procedure for cloning shared fields between applications from different programs/years</li>
                </ul>
            </div>
        </div>
        <div class="popup-line">
            <div>
                <strong>Stack:&nbsp;</strong>
                <ul>
                    <li>AngularJS</li>
                    <li>C#/.NET Core</li>
                    <li>SQL Server</li>
                </ul>
            </div>
        </div>
    </div>

    <!-- DMME -->
    <div class="popup-content" [hidden]="popup !== 'dmme'">
        <div class="popup-line popup-title">
            <!-- <img class="user-image" src="/assets/page/about/cover.jpg" width=70 height=70> -->
            <span>DEPARTMENT OF MINES, MINERALS, AND ENERGY</span>
        </div>
        <div class="popup-line long">
            <strong>Project:&nbsp;</strong>
            <span>
                Energy Data Warehouse
            </span>
        </div>
        <div class="popup-line long">
            <strong>Description:&nbsp;</strong>
            <span>
                Create a data warehouse to store monthly electricity consumption for state owned buildings and a public/internal map dashboard, 
                with the purpose of determining which buildings are consuming more or less electricity over time
            </span>
        </div>
        <div class="popup-line">
            <div>
                <strong>Responsibilities:&nbsp;</strong>
                <ul>
                    <li>Database design and implementation</li>
                    <li>Create ETL workflow to consume data monthly from excel uploads</li>
                    <li>Build a custom web map to curate and visualize data</li>
                </ul>
            </div>
        </div>
        <div class="popup-line">
            <div>
                <strong>Stack:&nbsp;</strong>
                <ul>
                    <li><a href="https://developers.arcgis.com/web-appbuilder/">ESRI's Web AppBuilder for ArcGIS</a></li>
                    <li>Python</li>
                    <li>SQL Server</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="popup-footer list-inline text-right t1">
        <li class="list-inline-item">
            <a href="https://gitlab.com/bgeo"><i class="fa fa-gitlab" aria-hidden="true"></i></a>
        </li>
        <li class="list-inline-item">
            <a href="https://www.linkedin.com/in/brian-brown-20997154/"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
        </li>
        <li class="list-inline-item">
            <a href="https://stackoverflow.com/users/story/2564609"><i class="fa fa-stack-overflow" aria-hidden="true"></i></a>
        </li>
    </div>

</div>
